.nav_bar_tabs {
  display: flex;
  align-items: flex-end;
}
.nav_image_list_item {
  width: 100%;
}
.nav_image {
  background-image: url("./assets/images/image_13.svg");
}

.cards {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
#footer {
  background-color: #3b8ad9;
  width: 100%;
  height: 100%;
}
